<h2>Welcome to Pizza Shop!</h2>

<div class="row">

  <% @products.each do |p| %>
  <div class="col-md-3">
    <div>
        <%= p.title %>
    </div>

    <div>
        <img width="300px" height="200px" src="<%= p.path_to_image %>" >
    </div>

    <div>
        <%= p.description %>
    </div>

    <div>
        Size: <%= p.size %> cm
    </div>

    <div>
          Price: <%= p.price %> rub.
    </div>

    <div>
      <button class="btn btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
    </div>

  </div>
  <% end %>

</div>
<br>
<br>
<button class="btn btn-primary" onclick="something()">Click me!</button>


<script type="text/javascript">

$ (function()
{
	update_orders_input();
  update_orders_button();
});

</script>



<!--<br>-->
<!--<div class="container">-->
<!--	<div class="row">-->
<!--	  <div class="col-xs-2 col-md-8">Hawaiian<img width="300px" height="200px" src="/images/hawaii.jpg"</div>-->
<!--	  <div class="col-xs-6 col-md-4">Pepperoni<img width="300px" height="200px" src="/images/peperony.jpg"</div>-->
<!--	</div>-->
<!--	<div class="row">-->
<!--	  <div class="col-xs-6 col-md-8">Margherita<img width="300px" height="200px" src="/images/margarita.jpg"</div>-->
<!--	  <div class="col-xs-6 col-md-4">Vegetarian<img width="300px" height="200px" src="/images/veget.jpg"</div>-->
<!--	</div>-->
<!--</div>-->
